beerolympics-master/media/gallery/
beerolympics-master/media/gallery-optimized-test/
beerolympics-master/media/beerPongModal.jpg
beerolympics-master/media/chugModal.jpg
beerolympics-master/media/alcohol.png
beerolympics-master/media/halloffame/*.jpg
beerolympics-master/node_modules/
beerbackend-master/node_modules/
node_modules/
beerbackend-master/.env
.env
.DS_Store
Thumbs.db
